venv/
__pycache__/
*.pyc

.env
.env.*

bot/saved_models/*
!bot/saved_models/.gitkeep

*.pkl
*.keras
*.h5

.ipynb_checkpoints/
.DS_Store

original_implementations/russian/ru_bayes.py
original_implementations/russian/course_work_rus.py
original_implementations/english/eng_bayes.py
original_implementations/english/course_work_eng.py

results/
plots/